.article-heading {
  margin: 70px 0 5px 0;
  font-size: 30px;
}
hr {
  border: 2px solid orangered;
  float: left;
  padding-left: 5vw;
}
@media only screen and (max-width: 720px) {
  .article-heading {
    margin: 10px 0 5px 0;
    font-size: 25px;
    display: block;
  }
  hr {
    border: 2px solid orangered;
    width: 100px;
  }
}
