.articleBox3 {
  padding: 0 50px;
  width: 18vw;
}
.article3-title {
  font-size: 25px;
  height: 70px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.article3-para {
  font-size: 15px;
  color: rgb(168, 167, 167);
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.article3-subtitle {
  color: rgb(199, 197, 197);
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.middle-border {
  border-left: 1px solid rgb(199, 197, 197);
  border-right: 1px solid rgb(199, 197, 197);
}
.top-bottom-border {
  border-top: 1px solid rgb(199, 197, 197);
  border-bottom: 1px solid rgb(199, 197, 197);
  justify-content: start;
}
@media only screen and (max-width: 720px) {
  .articleBox3 {
    padding: 0;
    width: 90vw;
    margin-bottom: 30px;
  }
  .middle-border {
    border-left: none;
    border-right: none;
  }
  .article3-title {
    font-size: 18px;
    height: 50px;
  }
  .article3-para {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .article3-subtitle {
    color: rgb(199, 197, 197);
    font-size: 14px;
    margin: 0;
  }
  .top-bottom-border {
    padding: 5px;
  }
}
